@import "./varibles";

// BOOTSTRAP IMPORT
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "./mixin";

* {
    box-sizing: border-box;
    margin: 0;
};

.main {
    height: 80vh;
}
.sidebar {
    @include sidebar
}

.card {
    height: 400px;
    margin-inline: 1em;
}

.navbar {
    background-color: $header-color;
}

.title{
    font-size: 2rem;
    font-weight: 600;
    color: $dark
}

